[% INCLUDE 'help-top.inc' %] <h1>Réservations mises de coté</h1>

<p>Ce rapport affiche toutes les réclamations qui sont en atttente de retrait par des adhérents.</p>

<p>Items that have been on the hold shelf longer than you normally allow (based on the ReservesMaxPickUpDelay preference value) will appear on the 'Holds Over' tab, they will not automatically be cancelled unless you have set the cron job to do that for you, but you can cancel all holds using the button at the top of the list.</p>

<p><strong>See the full documentation for Holds Awaiting Pickup in the <a href="http://manual.koha-community.org/3.12/en/circreports.html#holdspickup">manuel</a> (en-ligne)</strong></p>

[% INCLUDE 'help-bottom.inc' %]